<%- include('./header') -%>


<script>
   
    
    function addToStroage() {
        quantity = document.getElementById('exampleInputEmail1').value;
        let lenses = document.getElementById('lense');
        let selectedLense = lenses.options[lenses.selectedIndex].value;
        let pricePerUnit = "<%= price %>";
        let quantityTotal = pricePerUnit*quantity;
        
        const item =
        {
            
            img:"<%=imageUrl%>",
            name: "<%= name %>",
            price:pricePerUnit ,
            quantity:quantity,
            quantityTotal:quantityTotal,
            lense: selectedLense

        }
    
       
       let  existingProduct = JSON.parse(sessionStorage.getItem('selectedItem'));
        
        if (existingProduct) {
            
            existingProduct.push(item);
            sessionStorage.setItem('selectedItem', JSON.stringify(existingProduct));
        }
        else {
            cartArray = []
            cartArray.push(item)
            sessionStorage.setItem('selectedItem', JSON.stringify(cartArray));
        }
      
    }
</script>




<div class="container-fluid layout ">
    <div class="row ">
        <div class="col-md-6  pic"> <img src="<%=imageUrl%>" alt="camera image" width="320" height="320"> </div>
        <div class="col-md-6   ">
            <div class="info">
                <h1 class="main-name"> <%= name %></h1>
                <p class="main"> <%= description %> </p>
                <div class="important">
                    <p id="pricing">Price
                    <p>
                    <h1 id="price"><%= price %></h1>
                </div>
                <div class="form">
                    <p id="coloring">Choose Lense</p>
                    <select id="lense" class="color">
                        <% lenses.forEach(function(allItem){ %>
                        <option class="dropdown-item" value="<%= allItem %>"> <%= allItem %> </option>
                        <% }); %>

                </select>
                
            </div>
            <input type="number" class="form-control value" id="exampleInputEmail1" value="1">
            <button class="btn btn-outline-info btn-lg cartButton" onclick="addToStroage()"> Add to Basket</button>
        </div>
    </div>
</div>
</div>






<%- include('./footer') -%>