<%- include('./header') -%>


<ul>
    <li>  <img src= <%=imageUrl%> alt="camera image" width="150" height="150"> </li>
    <li> <%= name %></li>
    <li> <%= price %></li>
    <li>  <%= description %> </li>
    <form>


    </form>
    <li>  <%= lenses %> </li>
    <button> Add to Basket</button>
</ul>










<%- include('./footer') -%>