<%- include('./header') -%>
<div class="container-fluid"  >

<ul class="row">
    <li  class="col-lg-6 pic">  <img src= <%=imageUrl%> alt="camera image" width="450" height="450"> </li>
    <div class="col-lg-6 half">
    <li class="main-name"> <%= name %></li>
    <li class="main">  <%= description %> </li>
    <li class="main-price"> <%= price %></li>
    <% lenses.forEach(function(allItem){ %>
        <div  class="row"></div>
    <li >  <%= allItem %> </li>
    <% }); %>
    </div>
    <button   class="btn btn-outline-info btn-lg  " onclick="addToStroage()" > Add to Basket</button>
</div>
</ul>

</div>








<%- include('./footer') -%>