<%- include('./header') -%>

    
<div class="container-fluid"  >
    
    <ul class="row"  >
       
    <%  allproducts.forEach(function(allItem){ %>
         
        <div class="col-lg-6 more" >
      
        <li>  <img src= <%=allItem.imageUrl%> alt="camera image" width="300" height="300"> </li>
        <li> <%=allItem.name%></li>
        <li> <%=allItem.price%></li>
        
        <button type="button" class="btn btn-outline-info btn-lg" ><a href="/aboutpage/<%=allItem._id%>" id="dis-more">Discover More</a></button>
    </div>
        <% }); %>


    </ul>

</div>










<%- include('./footer') -%>
