<%- include('./header') -%>

<ul>
    <%  allproducts.forEach(function(allItem){ %>

        <li>  <img src= <%=allItem.imageUrl%> alt="camera image" width="150" height="150"> </li>
        <li> <%=allItem.name%></li>
        <li> <%=allItem.price%></li>
        
        <li><a href="/aboutpage/<%=allItem._id%>">Discover More</a></li>
        <% }); %>
    </ul>










<%- include('./footer') -%>
